@import url("https://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans:300,400,600,700,800&display=swap");

html,
body,
#__blaze-root {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  letter-spacing: 0.25px;
  box-sizing: border-box;
  font-family: "Open Sans";
}

$flatify-full: #ff416c;
$flatify-light: #ffdde5;

#login-buttons {
  width: 30rem;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-top: 50vh;
  color: $flatify-full;
  font-weight: 600;
}

#login-buttons a {
  color: $flatify-full;
  font-weight: 600;
}

#login-dropdown-list {
  border: none;
  width: 22rem;
  height: 20rem;
  padding: 2rem 3rem;
  left: calc(50% - 11rem);
  top: calc(50% - 10rem);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

#login-buttons .login-close-text {
  float: right;
}

.accounts-dialog label {
  float: left;
  opacity: .6;
}

#login-buttons input[type=email], #login-buttons input[type=password] {
  border-radius: 0;
  border: none;
  background-color: $flatify-light !important;
}

#login-buttons button.login-button, #login-buttons button.login-button:hover {
  background-color: $flatify-full;
  border: none;
  margin-top: 1.5rem;
}

.calculator-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}

.heading {
  position: relative;
  width: 100%;
  height: 3rem;
  text-align: center;
}

.logo {
  font-family: "Oleo Script";
  width: 10rem;
  text-align: center;
  margin: 1.65rem auto;
  font-size: 2rem;
  font-weight: 900;
  color: $flatify-full;
}

.calculator-controls {
  position: relative;
  width: 100%;
  height: calc(100% - 3rem);
}

.calculator-modal {
  position: absolute;
  width: 60rem;
  height: calc(100% - 4rem);
  top: 1rem;
  left: calc(50% - 30rem);
  border-radius: 8px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.calculator-left {
  font-size: 0.9rem;
  height: 100%;
  width: 70%;
  float: left;
  background: #fff;
  padding: 1rem;
}
.calculator-right {
  position: relative;
  font-size: 0.9rem;
  height: 100%;
  width: 30%;
  float: right;
  border-left: 4px solid $flatify-full;
  background-color: $flatify-light;
  text-align: center;
}

.total-ammount {
  position: absolute;
  display: block;
  width: 100%;
  top: 4rem;
}

.number {
  font-size: 3rem;
  width: 60%;
  float: left;
  text-align: right;
  font-weight: 600;
  padding-right: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
}
.currency {
  width: 40%;
  float: right;
  text-align: left;
  padding-top: 0.7rem;
  color: $flatify-full;
  font-weight: 600;
}
