<template name="controls">
  <div class="calculator-controls">
    <div class="calculator-modal">
      <div class="calculator-right">
        <div class="total-ammount">
          <span class="number">{{result.result}}</span>
          <span class="currency">EUR</span>
        </div>

      </div>
      <div class="calculator-left">
        <!-- This is where the questions go -->
        <!-- <h1>Calculator</h1> -->

        <form action="" class="ui form">

          {{#each categories}}

          <div class="category-wrapper">
            <label class="categorie-label">{{label}}</label>
            {{#unless noSwitch}}
            {{#if activated}} {{> switch classes="on" data=this}} {{else}} {{> switch classes="off" data=this}} {{/if}}
            {{/unless}}

            {{#each displayQuestions}}

            {{> question}}

            {{/each}}
          </div>

          {{/each}}

        </form>
      </div>

    </div>
  </div>
</template>


<template name="question">
  <div class="field">
    <div class="question-heading">
      <label for="">{{label}}</label> <span class={{displayValue.class}}>{{displayValue.operator}}{{displayValue.value}}
        {{displayValue.curr}}</span>
    </div>
    <input type={{type}} value={{value}} min="0" max="{{#if max}}{{max}}{{else}}2{{/if}}" step="1">
    <span class="selected-value">{{displaySelected}}</span>
  </div>
</template>